main
{
width:800px;
}
.box
{
	border:1px black solid;
	box-sizing: border-box;
}
.fifty
{
	width:45%;
	height: 200px;
	display: inline-block;
}
.thirty
{
	width:45%;
	width: 33.33%;
	height: 300px;
}
.green
{
	background: green;
}
.blue
{
	background: blue;
}
.gray
{
	background: gray;
}
.black
{
	background: black;
}

.wood
{
	background: orange;
}
