main
{
width:800px;
height: 500px;
background: yellow;
margin: auto;
}
.box
{
	border:1px black solid;
	box-sizing: border-box;
	margin: 0;
}
.fifty
{
	width: 50%;
	height: 200px;
}
.thirty
{
	width: 33.33%;
	height: 300px;
}
.top{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}
.bottom{
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}
.green
{
	background: green;
}
.blue
{
	background: blue;
}
.gray
{
	background: gray;
}
.black
{
	background: black;
}

.wood
{
	background: orange;
}
